/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'RNS-B';
  src: url('assets/fonts/rns_baruta_black/RNS-B.ttf')
}

.life-starter {
  font-family: 'RNS-B';
  font-size: 2em;
}

.green {
  color: #404040;
}

.green-back {
  background-color: #037362;
}

.ksr-green {
  color: #037362;
}

.grey {
  color: #85C442;
}

.circle {
  border-radius: 50%;
}
