<div class="container">
  <button pButton (click)="addGuest()">TEST</button>
  <div [hidden]="step != -1" class="row justify-content-md-center">
    <div class="col-xl-4 col-md-6 col-12">
      <app-contact-information (contactInformationChange)="addContactInformation($event)">
      </app-contact-information>
    </div>
  </div>
  <div [hidden]="step < 0 || guestTitles.length < step" class="row justify-content-md-center">
    <div *ngFor="let title of guestTitles; let i = index" class="col-xl-4 col-md-6 col-12">
      <app-guest
        [guest]="guests[i]"
        [index]="i"
        [title]="title"
      >
      </app-guest>
    </div>
    <!--
    <div class="col-xl-4 col-md-6 col-12">
      <app-guest [(guest)]="guests[0]" (guestChange)="addGuest($event)"></app-guest>
    </div>
    -->
    <!--
    <div class="col-xl-4 col-md-6 col-12" *ngFor="let guest of guests; let i = index">
      <app-guest [guest]="guest"></app-guest>
    </div>
    -->
  </div>
</div>
