<div class="container">
  <div [hidden]="step !== -1" class="row justify-content-md-center">
    <div class="col-xl-4 col-md-6 col-12">
      <app-contact-information (contactInformationChange)="addContactInformation($event)">
      </app-contact-information>
    </div>
  </div>
  <div [hidden]="step < 0 || roles.length < step" class="row justify-content-md-center">
    <div *ngFor="let role of roles; let i = index" [hidden]="step !== i" class="col-xl-4 col-md-6 col-12">
      <app-guest
        (guestChange)="addGuest($event.role, $event.guest)"
        [index]="i"
        (skipChange)="skip($event)"
        [guest]="guests.get(role)"
        [role]="role"
      >
      </app-guest>
    </div>
  </div>

  <div [hidden]="step !== roles.length" class="row justify-content-md-center">
    <div class="col-xl-4 col-md-6 col-12">
      <div class="container">
        <div class="row">
          <div class="mt-3 mb-3 col-12">
            <ul>
              <li *ngFor="let guest of guests | keyvalue" [hidden]="!guest.value">
                <div class="row">
                  <div class="col-12 font-weight-bolder blue">{{guest.value?.firstName}} {{guest.value?.lastName}}</div>
                  <div class="col-12">{{'diet.' + guest.value?.diet | translate}}</div>
                  <div class="col-12">
                    <span
                      *ngFor="let allergy of guest.value?.allergies; let i = index">{{i === 0 ? '' : ', '}}{{'allergy.' + allergy | translate}}</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="mt-3 mb-3 col-12">
            <button (click)="register()"
                    class="w-100"
                    label="{{'common.confirm' | translate}}"
                    pButton>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div [hidden]="step !== roles.length + 1" class="row justify-content-md-center">
    <div class="mt-3 col-xl-4 col-md-6 col-12">
      De gegevens worden verwerkt...
    </div>
    <div class="mt-3 col-xl-4 col-md-6 col-12">
      Indien u email had aangeduid qua correspondentievoorkeur, kan deze stap iets langer duren.
      U hoeft in dit geval ook zeker niet te wachten, want er komt een bevestiging via mail uw kant uit!
      Ontvangt u geen mail, dan is er waarschijnlijk iets misgelopen.
    </div>
    <div class="mt-3 col-xl-4 col-md-6 col-12">
      In alle andere gevallen, indien dit te lang duurt, is er iets mis.
      Tel toch nog even tot 10.
      Je weet maar nooit.
      10.. 9.. 8.. 7.. 6.. 5.. 4.. 3.. 2.. 1..
      en nu mag je panikeren.
    </div>
  </div>

  <div [hidden]="step !== roles.length + 2" class="row justify-content-md-center">
    <div class="mt-3 col-xl-4 col-md-6 col-12">
      De registratie werd voltooid! Tot binnenkort!
    </div>
  </div>

</div>
