<div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 order-md-2 col-sm-12">
        <img src="assets/images/info/ring.jpg" class="img-fluid">
      </div>
      <div class="pt-md-5 pb-md-5 mt-md-0 mt-sm-4 col-md-8 order-md-1">
        <h2>{{'main.title' | translate}}</h2>
        <p class="text-muted">{{'main.subtitle' | translate}}</p>
      </div>
      <div class="pt-md-5 pb-md-5 col-md-2 order-md-0">
        <div class="mb-2">
          <img src="assets/images/info/me.png" class="img-fluid circle me">
        </div>
        <small class="text-muted ">By Bart Gerard</small>
      </div>
      <div class="col-md-4 order-md-3">
        <div class="pt-3 pb-3 container green-bar">
          <div class="row">
            <div class="pl-0 col-md-12 col-4">
              <h4 class="mb-0 ksr-green">€0.00</h4>
              <p class="text-muted">entrance fee</p>
            </div>
            <div class="pl-0 col-md-12 col-4">
              <h4 class="mb-0">0</h4>
              <p class="text-muted">guests</p>
            </div>
            <div class="pl-0 col-md-12 col-4">
              <h4 class="mb-0">4</h4>
              <p class="text-muted">days to go</p>
            </div>
          </div>
          <div class="row">
            <div class="pl-0 pr-0 mt-2 col">
              <button pButton
                      type="button"
                label="{{'common.rsvp' | translate}}"
                      class="w-100 pt-2 pb-2"
                      routerLink="/registration">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<section>
  <div class="container text-center">
    <h2>Test</h2>
  </div>
</section>
