<div>
  <div class="container mb-5">
    <div class="row">
      <div class="col-md-8 order-md-2 col-12">
        <img src="assets/images/info/ring.jpg" class="img-fluid">
      </div>
      <div class="col-md-8 col-12 order-md-4">
        <div class="p-0 pt-2 pb-2 container border-bottom-none-md border-bottom">
          <div class="row">
            <div class="col-sm-4 col-auto">
              <i class="p-1 fa fa-heart"></i>
              <small>Kim</small>
            </div>
            <div class="col-sm-4 col-auto">
              <i class="p-1 fa fa-compass"></i>
              <small>Wedding</small>
            </div>
            <div class="col-sm-4 col-auto">
              <i class="p-1 fa fa-map-marker"></i>
              <small>Bertem, Belgium</small>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-md-5 pb-md-5 mt-md-0 mt-4 col-md-8 order-md-1">
        <h2>{{'main.title' | translate}}</h2>
        <p class="text-muted">{{'main.subtitle' | translate}}</p>
      </div>
      <div class="pt-md-5 pb-md-5 col-md-2 order-md-0 d-md-block d-none">
        <div class="mb-2">
          <img src="assets/images/info/me.png" class="img-fluid circle me">
        </div>
        <small class="text-muted ">By Bart Gerard</small>
      </div>
      <div class="col-md-4 order-md-3">
        <div class="pt-3 pb-3 container green-bar">
          <div class="row">
            <div class="pl-0 col-md-12 col-4">
              <h4 class="mb-0 ksr-green">€0.00</h4>
              <p class="text-muted">entrance fee</p>
            </div>
            <div class="pl-0 col-md-12 col-4">
              <h4 class="mb-0">{{nbGuests}}</h4>
              <p class="text-muted">guests</p>
            </div>
            <div class="pl-0 col-md-12 col-4 d-none d-lg-block" *ngIf="currentWave">
              <h4 class="mb-0">{{currentWave?.label}}</h4>
              <p class="text-muted">wave</p>
            </div>
            <div class="pl-0 col-md-12 col-4">
              <h4 class="mb-0">{{daysLeft}}</h4>
              <p class="text-muted">days to go</p>
            </div>
          </div>
          <div class="row">
            <div class="mt-2 mb-2 pl-0 pr-0 col-12">
              <button pButton
                      type="button"
                      label="{{'common.rsvp' | translate}}"
                      class="w-100 pt-2 pb-2"
                      routerLink="/registration">
              </button>
            </div>
          </div>
          <div class="row">
            <div class="mt-2 mb-2 pl-0 pr-0 col-6">
              <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
              <button pButton
                      type="button"
                      label="{{'common.reminder' | translate}}"
                      class="ui-button-secondary w-100 pt-2 pb-2"
                      (click)="reminder()"
              >
                <!--routerLink="/registration"-->
              </button>
            </div>
            <div class="col-1 d-md-none d-lg-block">
            </div>
            <div class="mt-auto mb-auto col-1">
              <i class="fa fa-facebook"></i>
            </div>
            <div class="mt-auto mb-auto col-1">
              <i class="fa fa-twitter"></i>
            </div>
            <div class="mt-auto mb-auto col-1">
              <i class="fa fa-envelope"></i>
            </div>
            <div class="col-1">
            </div>
          </div>
          <div class="row">
            <div class="mt-2 pl-0 pr-0 col-12 small">
              <u>All or nothing.</u> Reply before the deadline.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="border-bottom border-top">
  <div class="container d-flex flex-row justify-content-start">
    <a class="mr-5 pt-3 pb-3" [class.link-active]="true" routerLink="">Concept</a>
    <a [class.link-active]="" class="mr-5 pt-3 pb-3" routerLink="/updates">Updates</a>
    <a class="mr-5 pt-3 pb-3" [class.link-active]="">Comments</a><!--routerLink="/comments"-->
  </div>
</div>

<div class="container">
  <div class="row campaign">
    <div class="col-12 col-md-8 order-1 order-md-0 mt-0 mt-md-5 mb-5">
      <h3 class="mb-4">Verwelkoming</h3>

      <p>
        Gegroet,
      </p>

      <p>
        Welkom op deze registratie module voor de trouw van Bart en Kim.
      </p>

      <p>
        Wij trouwen op <b>18 mei 2019</b> en dat willen wij samen met jou vieren!
      </p>

      <p>
        Heb je (nog) geen uitnodiging ontvangen via brief of mail, neem dan even contact met ons op om na te gaan wat er
        al dan niet is misgelopen.
        <!--Omwille van beperkingen in budget en daardoor quasi rechtstreeks (zit)plaatsen, werken we met gefaseerde
        inschrijvingen waarbij wij zoveel mogelijk vrienden en familieleden de kans willen geven om te komen.
        -->
        <!--
        Omwille van beperkte (zit)plaatsen werken we met gefaseerde
        inschrijvingen waarbij wij zoveel mogelijk vrienden en familieleden de kans willen geven om te komen.
        Hoe sneller wij een zicht kunnen krijgen op de bezetting, des te sneller vrije plaatsen kunnen worden
        doorgegeven in een volgende wave.
        -->
        Wij willen graag iedereen op zoveel mogelijk activiteiten van onze speciale dag, maar dit is helaas niet mogelijk voor het diner en bijhorende receptie.
        Indien je tijdens je registratie nog diner kan aanduiden, dan was er nog een plaats voor jezelf en eventuele plus one.
        Anders zitten we al aan de maximale capaciteit, maar ben je toch nog altijd even welkom op het dessertenbuffet en dansfeest achteraf.
      </p>
<!--
      <p>
        Wij begrijpen dat de uitnodigingen aan de late kant zijn, maar mogen wij toch vragen om zo snel mogelijk te
        reageren bij voorkeur voor het einde van jouw wave.
      </p>
-->
      <p>
        De details op deze pagina zijn nog niet definitief en kleine verschuivingen in de planning zijn niet uit te
        sluiten.
        Deze pagina en mail zullen worden gebruikt om eventuele wijzigingen te communiceren.
      </p>

      <p class="text-primary">
        Klik vlug op <b>RSVP</b> (<u>R</u>épondez <u>s</u>'il <u>v</u>ous <u>p</u>laît) of op een pledge die jou het
        beste omschrijft om je te registeren!
      </p>

      <p>
        Tot binnenkort!
      </p>

      <p>
        Bart & Kim
      </p>

      <img class="img-fluid center mt-3 mb-3" src="assets/images/we/DSC_1958-min.jpg">

      <h3 class="mt-4 mb-4">Planning</h3>
      <!--Life is like a box of chocolates. You never know what you're gonna get. Toch heb ik mijn pralineetje al gevonden!-->
      <div class="container row mb-3">
        <div class="col-3 text-center twenty-four">
          10:30
        </div>
        <div class="col-9 m-auto">
          <b>Het officiële gedeelte</b>
          <p class="text-secondary mb-0">Intieme kring (ouders, broers en getuigen) en fotograaf</p>
        </div>
        <div class="col-3 text-center twenty-four">
          12:00
        </div>
        <div class="col-9 m-auto">
          <b>Photo Shoot</b>
          <p class="text-secondary mb-0">Heel intieme kring (Bart en Kim) en fotograaf</p>
        </div>
        <div class="col-3 text-center twenty-four">
          14:00
        </div>
        <div class="col-9 m-auto">
          <b>Ceremonie</b>
          <p class="text-secondary mb-0">Iedereen welkom (±100 zitplaatsen)</p>
        </div>
        <div class="col-3 text-center twenty-four">
          15:30
        </div>
        <div class="col-9 m-auto">
          <b>Receptie</b>
          <p class="text-secondary mb-0">Korte receptie voor de avondeters</p>
        </div>
        <div class="col-3 text-center twenty-four">
          17:00
        </div>
        <div class="col-9 m-auto">
          <b>Diner</b>
          <p class="text-secondary mb-0">Een feestelijke maaltijd</p>
          <p class="text-secondary mb-0">Familie, vroeg ingeschreven vrienden en fotograaf (±80 plaatsen)</p>
        </div>
        <div class="col-3 text-center twenty-four">
          20:30
        </div>
        <div class="col-9 m-auto">
          <b>Dessertenbuffet en Avondfeest</b>
          <p class="text-secondary mb-0">Smullen en Feesten</p>
          <p class="text-secondary mb-0">Iedereen welkom (na inschrijving)</p>
        </div>
      </div>

      <p>
        Tijden onder voorbehoud.
      </p>
      <p class="text-secondary">
        Wijzigingen worden gecommuniceerd via deze pagina en mail.
      </p>

      <img class="img-fluid center w-50 mt-3 mb-3" src="assets/images/we/DSC_2225-min.jpg">

      <h3 class="mt-4 mb-4">Dress Code</h3>

      <p>
        Draag iets passend voor op een trouwfeest: stadskledij is perfect.
      </p>
      <p>
        Graag kledij met <b>blauw</b> en/of <b>zilver</b>-achtige toetsen.
      </p>

      <img class="img-fluid center w-50 mt-3 mb-3" src="assets/images/info/dress-code.png">

      <h3 class="mt-4 mb-4">Stretch Goals</h3>

      <p>
        Stretch goals zijn ambitieuze doelstellingen die de kickstarter creator normaal gezien wenst te behalen en
        daartegenover dan ook iets extra voorziet.
      </p>

      <div class="container row">
        <div class="col-3 p-2 m-auto">2 gasten</div>
        <div class="col-9 p-2 m-auto">Bart & Kim trouwen!</div>
        <div class="col-3 p-2 m-auto">42 gasten</div>
        <div class="col-9 p-2 m-auto">Een pagina met updates wordt toegevoegd.</div>
        <div class="col-3 p-2 m-auto">140 gasten</div>
        <div class="col-9 p-2 m-auto">Een update met ons origin verhaal wordt gepubliceerd op de update pagina.</div>
        <div class="col-3 p-2 m-auto">150 gasten</div>
        <div class="col-9 p-2 m-auto">Receptie!</div>
        <div class="col-3 p-2 m-auto">160 gasten</div>
        <div class="col-9 p-2 m-auto">Paniek want dan zit de zaal te vol.</div>
        <div class="col-3 p-2 m-auto">€10K</div>
        <div class="col-9 p-2 m-auto">Bart neemt een paar dagen vrijaf en voorziet een werkende comment sectie.</div>
      </div>

      <img class="img-fluid center mt-3 mb-3" src="assets/images/we/DSC_2125-min.jpg">

      <h3 class="mt-4 mb-4">Kickstarter?</h3>

      <p class="text-muted"><i>
        De site is opgevat als een persiflage/parodie van een zeer gekend crowdfunding platform genaamd <a
        href="https://kickstarter.com">kickstarter</a>.
        Een site waar entrepreneurs steun kunnen vragen om hun grootse ideeën en projecten waar te maken.
        Steun kan altruïstisch zijn of gekoppeld aan een specifieke tegenprestatie.
        Dit noemen ze daar een pledge.
      </i></p>

      <p>
        Wij staan hier nu zelf klaar voor ons eigen gigantisch project: een leven samen!
      </p>

      <p>
        Dit project kan jij steunen op eender welke manier die jou past!<br>
        <i class="text-muted">
          e.g. een luisterend oor, babysitten (indien ooit van toepassing), delen van ervaringen...
        </i>
      </p>

      <p>
        Op korte termijn zijn wij echter op zoek naar steun in de vorm van jullie aanwezigheid op de grote kick-off van
        dit project: de trouw.
      </p>

      <p class="text-primary"><b>
        Wij hopen één van de mooiste dagen in ons leven samen met jullie te kunnen beleven.
      </b></p>

      <!--
      <p class="text-muted">
        PS: Steun in de vorm van giften mag altijd, maar is geen noodzakelijkheid.<br>
        Aanwezigheid is voor ons het allerbelangrijkste. Afwezigheid mag je wel compenseren.
      </p>

      <p class="text-muted">
        PS: PS: Indien je toch iets zou willen geven, dan bij voorkeur een monetaire overschrijving.
      </p>
      -->

      <p>
        Wil je ons ook nog of in de plaats van op een andere manier ondersteunen, dan is er altijd nog plaats voor een
        duitje in ons zakje.
        Voor de rest hebben wij alles al wat onze hartjes begeren!
        <!--Voor de rest hebben wij alles al wat onze hartjes begeren en kan het alleen maar onze bewegingsvrijheid limiteren!-->
      </p>

      <img class="img-fluid center w-50 mt-3 mb-3" src="assets/images/we/DSC_1974-min.jpg">

      <h3 class="mt-4 mb-4">Shipping</h3>

      <p>
        Huwelijksbootje :-)
      </p>

      <p>
        Verder dan dit mopje kwamen we niet...
      </p>

      <img class="img-fluid center" src="assets/images/shipping/Eu-Friendly-Banner.png">
    </div>

    <div class="col-12 col-md-4 order-0 order-md-1 mt-5 mb-5">
      <h3 class="mb-4">Support</h3>
      <app-pledge></app-pledge>
    </div>

    <div class="col-12 col-md-8 order-1 order-md-2 mt-0 mt-md-5 mb-5">
      <h3 class="mb-4">Risks and challenges</h3>
      <p>
        Kim en Bart kennen elkaar ondertussen al minimaal negen jaar op het moment van dit schrijven. Zij beleefden
        samen al menig avontuur. Samen trotseerden zij onder andere (maar niet gelimiteerd tot) een Star Wars WArathon,
        de examens van de KULeuven, een inbraak, een bouw en nu ook al de voorbereidingen voor de trouw.
      </p>
      <p>
        Natuurlijk veranderen mensen en niemand weet wat de toekomst zal brengen. Wij willen samen actief streven en
        actief werken naar een gelukkig leven samen. Een eiken huwelijksverjaardag (80 jaar) zit er waarschijnlijk
        niet meer in, maar wij gaan ons best doen voor de Diamond Achievement&trade; (60 jaar).
      </p>

      <p>
        <img class="img-fluid center" src="assets/images/achievement.png">
      </p>

      <p>Zo ver zijn we natuurlijk lang nog niet en hierbij valt onderweg de rol van vrienden en familie zeker niet te
        onderschatten.
      </p>

      <p>
        <u>Learn about accountability on Lifestarter</u>
      </p>

      <img class="img-fluid center w-50 mt-3 mb-3" src="assets/images/we/DSC_2211-min.jpg">

    </div>
  </div>
</div>
