.green-bar {
  border-top-style: solid;
  border-top-color: #037362;
}

.me {
  height: 42px;
  width: 42px;
}

.link-active {
  border-bottom: 3px solid #282828;
}

.pending {
  color: #cad3db !important
}
