<div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 order-md-2 col-12">
        <img src="assets/images/info/ring.jpg" class="img-fluid">
      </div>
      <div class="col-md-8 col-12 order-md-4">
        <div class="p-0 pt-2 pb-2 container border-bottom-none-md border-bottom">
          <div class="row">
            <div class="col-4">
              <i class="p-1 fa fa-heart"></i>
              <small>Kim</small>
            </div>
            <div class="col-4">
              <i class="p-1 fa fa-compass"></i>
              <small>Wedding</small>
            </div>
            <div class="col-4">
              <i class="p-1 fa fa-map-marker"></i>
              <small>Herent, Belgium</small>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-md-5 pb-md-5 mt-md-0 mt-4 col-md-8 order-md-1">
        <h2>{{'main.title' | translate}}</h2>
        <p class="text-muted">{{'main.subtitle' | translate}}</p>
      </div>
      <div class="pt-md-5 pb-md-5 col-md-2 order-md-0 d-md-block d-none">
        <div class="mb-2">
          <img src="assets/images/info/me.png" class="img-fluid circle me">
        </div>
        <small class="text-muted ">By Bart Gerard</small>
      </div>
      <div class="col-md-4 order-md-3">
        <div class="pt-3 pb-3 container green-bar">
          <div class="row">
            <div class="pl-0 col-md-12 col-4">
              <h4 class="mb-0 ksr-green">€0.00</h4>
              <p class="text-muted">entrance fee</p>
            </div>
            <div class="pl-0 col-md-12 col-4">
              <h4 class="mb-0">0</h4>
              <p class="text-muted">guests</p>
            </div>
            <div class="pl-0 col-md-12 col-4">
              <h4 class="mb-0">4</h4>
              <p class="text-muted">days to go</p>
            </div>
          </div>
          <div class="row">
            <div class="mt-2 mb-2 pl-0 pr-0 col-12">
              <button pButton
                      type="button"
                label="{{'common.rsvp' | translate}}"
                      class="w-100 pt-2 pb-2"
                      routerLink="/registration">
              </button>
            </div>
          </div>
          <div class="row">
            <div class="mt-2 mb-2 pl-0 pr-0 col-6">
              <button pButton
                      type="button"
                label="{{'common.follow' | translate}}"
                      class="ui-button-secondary w-100 pt-2 pb-2"
                      routerLink="/registration">
              </button>
            </div>
            <div class="col-1">
            </div>
            <div class="mt-auto mb-auto col-1">
              <i class="fa fa-facebook"></i>
            </div>
            <div class="mt-auto mb-auto col-1">
              <i class="fa fa-twitter"></i>
            </div>
            <div class="mt-auto mb-auto col-1">
              <i class="fa fa-envelope"></i>
            </div>
            <div class="col-1">
            </div>
          </div>
          <div class="row">
            <div class="mt-2 pl-0 pr-0 col-12 small">
              <u>All or nothing.</u> Reply before the deadline.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<section>
  <div class="container text-center">
    <h2>Test</h2>
  </div>
</section>
