<div class="d-flex flex-column">
  <div class="p-3 mb-4 border pledge"
       [class.available]="pledge.available"
       *ngFor="let pledge of pledges">

    <p>Pledge {{pledge.price | currency : 'EUR' : 'symbol' : '1.0'}} or more</p>

    <p>{{pledge.name | uppercase}}</p>

    <p class="text-small">{{pledge.description}}</p>

    <div *ngIf="pledge.contents && pledge.contents.length > 0" class="text-small">
      {{'common.includes' | translate | titlecase}}:
      <ul>
        <li *ngFor="let content of pledge.contents">{{content}}</li>
      </ul>
    </div>

    <!--
    <div class="text-small unavailable" [hidden]="pledge.available">Reward no longer available</div>
    -->

    <div class="text-small">{{pledge.amount}} backers</div>

  </div>
</div>
