<div class="container">

  <div class="row">

    <div class="mt-3 mb-3 col-md-12">
      <span class="ui-float-label">
        <input id="first-name" type="text" class="w-100" pInputText [(ngModel)]="firstName">
        <label for="first-name">First name</label>
      </span>
    </div>

    <div class="mt-3 mb-3 col-md-12">
      <span class="ui-float-label">
        <input id="last-name" type="text" class="w-100" pInputText [(ngModel)]="lastName">
        <label for="last-name">Last name</label>
      </span>
    </div>

    <div class="mt-3 mb-3 col-md-12">
      <span class="ui-float-label">
        <input id="email" type="text" class="w-100" pInputText [(ngModel)]="email">
        <label for="email">Email</label>
      </span>
    </div>

    <div class="mt-3 mb-3 col-md-12">
      <span class="ui-float-label">
        <input id="password" type="text" class="w-100" pInputText [(ngModel)]="password">
        <label for="password">Password</label>
      </span>
    </div>

    <div class="mt-3 mb-3 col-md-12">
      <button label="Add"
              class="w-100"
              (click)="handleClick()"
              routerLink="/project"
              pButton>
      </button>
    </div>

  </div>

  <div class="row">
    <app-allergy></app-allergy>
  </div>

</div>
