<div class="container">

  <div class="row">

    <div class="item col-md-12">
      <span class="ui-float-label">
        <input id="first-name" type="text" class="full-width" pInputText [(ngModel)]="firstName">
        <label for="first-name">First name</label>
      </span>
    </div>

    <div class="item col-md-12">
      <span class="ui-float-label">
        <input id="last-name" type="text" class="full-width" pInputText [(ngModel)]="lastName">
        <label for="last-name">Last name</label>
      </span>
    </div>

    <div class="item col-md-12">
      <span class="ui-float-label">
        <input id="email" type="text" class="full-width" pInputText [(ngModel)]="email">
        <label for="email">Email</label>
      </span>
    </div>

    <div class="item col-md-12">
      <span class="ui-float-label">
        <input id="password" type="text" class="full-width" pInputText [(ngModel)]="password">
        <label for="password">Password</label>
      </span>
    </div>

    <div class="item col-md-12">
      <button label="Add"
              class="full-width"
              (onClick)="handleClick()"
              routerLink="/project"
              pButton>
      </button>
    </div>

  </div>

  <div class="row">
    <life-allergy></life-allergy>
  </div>

</div>
