<form [formGroup]="guestForm" (submit)="saveGuest()">
  <div class="container">

    <div class="row">

      <!--
      <p-message severity="error" text="{{'guest.first-name' | translate}} is required"
                 *ngIf="guestForm.controls['firstName'].invalid && guestForm.controls['firstName'].dirty">
      </p-message>
      -->
      <div class="mt-3 mb-2 col-12 font-weight-bolder blue">{{role | translate}}</div>

      <div class="mt-3 mb-3 col-12">
      <span class="ui-float-label">
        <input pInputText id="first-name" type="text" formControlName="firstName" class="w-100">
        <label for="first-name">{{'guest.first-name' | translate}}*</label>
      </span>
      </div>

      <div class="mt-3 mb-3 col-12">
      <span class="ui-float-label">
        <input pInputText id="last-name" type="text" formControlName="lastName" class="w-100">
        <label for="last-name">{{'guest.last-name' | translate}}*</label>
      </span>
      </div>

      <div class="mt-3 mb-3 col-12">
        <p-listbox [options]="dietaryOptions"
                   formControlName="diet"
                   [style]="{'width':'100%'}">
          <p-header>
            {{'guest.diet' | translate}}*
          </p-header>
        </p-listbox>
      </div>

      <div class="mt-3 mb-3 col-12">
        <app-allergy [(allergies)]="allergies"></app-allergy>
      </div>

      <div class="mt-3 mb-3 col-12">
      <span class="ui-float-label">
        <textarea pInputText id="comment" type="text" formControlName="comment" class="w-100">
        </textarea>
        <label for="comment">{{'guest.comment' | translate}}</label>
      </span>
      </div>

      <div class="mt-3 mb-1 col-12">
        <button pButton
                type="submit"
                label="{{'common.add' | translate}}"
                [disabled]="guestForm.invalid"
                class="w-100">
          <!--routerLink="/project"-->
        </button>
      </div>

      <div class="mt-1 mb-3 col-12">
        <button (click)="skip()"
                class="w-100 ui-button-secondary"
                label="{{'common.skip' | translate}}"
                pButton>
        </button>
      </div>

    </div>

    <!--
    <div class="row">
      <app-seat></app-seat>
    </div>
    -->

  </div>
</form>
