<div class="border-bottom border-top">
  <div class="container d-flex flex-row justify-content-start">
    <a class="mr-5 pt-3 pb-3" [class.link-active]="" routerLink="">Concept</a>
    <a class="mr-5 pt-3 pb-3" [class.link-active]="true" routerLink="/updates">Updates</a>
    <a class="mr-5 pt-3 pb-3" [class.link-active]="" routerLink="">Comments</a>
  </div>
</div>

<div class="container">
  <div class="row mt-3 mb-3">

    <div class="col-12 mt-3 row">

      <div class="col-6 green">Update #3</div>
      <div class="col-6 text-muted text-right">1 mei 2019</div>
      <div class="col-12 mt-3">
        <h3>A Bug's Life (Belangrijk)</h3>

        <p>
          Deze update is gericht aan zij die hebben ingeschreven met de contact methode 'GSM'.
        </p>

        <p>
          Helaas zat er nog een kleine bug in de software waardoor registraties met deze optie niet zijn doorgekomen.
        </p>

        <p>
          De bug is sinds vandaag opgelost.
          Indien je eerder toch met deze optie had ingeschreven, hebben wij op deze moment nog geen weet van jouw komst.
          Voor zij die hieronder vallen, via deze weg de vraag om toch nog eens opnieuw in te schrijven.
          Kies je voor de contact methode 'Email', dan krijg je ook nog een bevestiging via mail en ben je volledig
          zeker dat de inschrijving gelukt is.
        </p>

        <p>
          Mijn excuses voor het ongemak.
        </p>
      </div>
    </div>

    <div class="col-12 mt-3 row">

      <div class="col-6 green">Update #2</div>
      <div class="col-6 text-muted text-right">29 april 2019</div>
      <div class="col-12 mt-3">
        <h3>Tempus Fugit</h3>

        <p>
          Met rasse schreden komt onze grote dag dichterbij.
        </p>

        <p>
          In deze update nemen wij jou mee voor een kijkje achter de schermen en lichten we al een tipje van de sluier
          op (pun intended).
        </p>

        <p>
          De voorbereidingen zijn in volle gang.
          De viering begint vorm te krijgen, de ringdrager past in zijn pakje, de speeches worden bedacht en de
          decoratie ontworpen.
        </p>

        <p>
          Een overzicht van de vooruitgang:
        </p>

        <div class="container w-50 mb-3">
          <div class="row">
            <div class="col-12">Kledij</div>
            <div class="col-12 mb-2">
              <p-progressBar [value]="95"></p-progressBar>
            </div>
            <div class="col-12">Bedankjes</div>
            <div class="col-12 mb-2">
              <p-progressBar [value]="70"></p-progressBar>
            </div>
            <div class="col-12">Inschrijvingen</div>
            <div class="col-12  mb-2">
              <p-progressBar [value]="66.6"></p-progressBar>
            </div>
            <div class="col-12">Decoratie</div>
            <div class="col-12  mb-2">
              <p-progressBar [value]="33.3"></p-progressBar>
            </div>
            <div class="col-12">Ceremonie</div>
            <div class="col-12  mb-2">
              <p-progressBar [value]="30"></p-progressBar>
            </div>
            <div class="col-12">Speeches</div>
            <div class="col-12  mb-2">
              <p-progressBar [value]="10"></p-progressBar>
            </div>
            <div class="col-12">Tafelverdeling</div>
            <div class="col-12  mb-2">
              <p-progressBar [value]="0"></p-progressBar>
            </div>
            <div class="col-12">Stress</div>
            <div class="col-12  mb-2">
              <p-progressBar [value]="99.9" class="redBar"></p-progressBar>
            </div>
          </div>
        </div>

        <p>
          Een kleine teaser van een bedankje in wording:
        </p>

        <img class="img-fluid center mt-3 mb-3 w-50"
             src="assets/images/we/59374459_656314598126159_3583400161193230336_n-min.jpg">

        <p>
          Indien je je op 18 mei niet welkom zou voelen, dan is er altijd nog dit bord:
        </p>

        <img class="img-fluid center mt-3 mb-3 w-50" src="assets/images/we/IMG_20190501_111141-min.jpg">

        <p>
          Ook is het meteen duidelijk dat we met een grote Disney fan en een board game enthousiasteling te maken
          hebben!
        </p>
        <p>
          Hartjes zijn gewoon puur bladvulling :-)
        </p>

        <p>
          Wij kijken al uit om jullie te begroeten op onze grote dag!
        </p>
      </div>
    </div>

    <div class="col-12 mt-3 row">

      <div class="col-6 green">Update #1</div>
      <div class="col-6 text-muted text-right">26 maart 2019</div>
      <div class="col-12 mt-3">
        <h3>The Road to Shangri-La</h3>

        <p>
          De eerste twee stretchgoals zijn een feit!
        </p>

        <p>
          Bij deze al weer een spannende eerste anekdote van Bart en de avonturen in het gemeentehuis.
        </p>

        <p>
          Gisteren gingen Kim en ikzelf naar het gemeentehuis om de akte van aangifte te tekenen.
          Op het einde mogen wij nog betalen voor het huwelijksboekje waarop de dame achter de desk mij het
          betalingsbewijs overhandigt en zegt: "Bij deze het eerste papier in een hele stapel".
          Kim vraagt nog voor roze vuilzakken en na afrekening valt een lange stilte...
        </p>

        <p>
          Aarzelend vraag ik: "...en het huwelijksboekje?".
        </p>

        <p>
          Bij deze ook weer geleerd dat dat pas voor op de trouw zelf is en toch ook weer een stap dichter bij onze
          speciale dag.
        </p>
      </div>
    </div>

    <!--
    <div class="col-12 mt-3 row">

      <div class="col-6 green">Update #2</div>
      <div class="col-6 text-muted text-right">23 februari 2019</div>
      <div class="col-12 mt-3">
        <h3>The Road to Shangri-La</h3>

        <p>
          text...
        </p>
      </div>
    </div>
    -->

  </div>
</div>
